In [3]:
import pandas as pd
raw_df = pd.read_excel("../data/government_dataset.xlsx", skiprows=2)

In [21]:
# Print top 5
raw_df.head(5)

,Major Class,Month of Travel Date,From,To,Sum of Net Tickets,Sum of Total $
0,Business Class,Jan,Calgary,Ottawa,2,6045
1,Business Class,Jan,Calgary,Victoria,1,740
2,Business Class,Jan,Calgary,Winnipeg,0,95
3,Business Class,Jan,Campbell River,Ottawa,1,3482
4,Business Class,Jan,Charlottetown,Calgary,1,2807

In [22]:
raw_df.columns

Index(['Major Class', 'Month of Travel Date', 'From', 'To',
       'Sum of Net Tickets', 'Sum of Total $'],
      dtype='object')

In [26]:
# Function to drop rows with 0 number of tickets and 0 ticket cost
clean_dataframe = lambda raw_df, col_names_to_clean: raw_df[(raw_df[col_names_to_clean["num_of_tickets"]]>0)&(raw_df[col_names_to_clean["total_cost"]]>0)].reset_index().drop("index", axis=1)

In [27]:
# Generic object to clean the given columns
col_names_to_clean = {
    "num_of_tickets": "Sum of Net Tickets",
    "total_cost": "Sum of Total $"
}

In [41]:
# Produce the clean df from raw df
clean_df = clean_dataframe(raw_df, col_names_to_clean)
# Drop the last row
clean_df = clean_df.loc[:clean_df.shape[0]-2, :]

In [42]:
clean_df.to_csv("../data/cleaned_government_data.csv", index=False)

In [43]:
clean_df

,Major Class,Month of Travel Date,From,To,Sum of Net Tickets,Sum of Total $
0,Business Class,Jan,Calgary,Ottawa,2,6045
1,Business Class,Jan,Calgary,Victoria,1,740
2,Business Class,Jan,Campbell River,Ottawa,1,3482
3,Business Class,Jan,Charlottetown,Calgary,1,2807
4,Business Class,Jan,Charlottetown,Ottawa,1,737
...,...,...,...,...,...,...
16827,Premium Economy,Aug,Whitehorse,Ottawa,1,771
16828,Premium Economy,Aug,Williams Lake,Kingston,1,2786
16829,Premium Economy,Sep,Regina,Vancouver,1,1945
16830,Premium Economy,Oct,Penticton,Montreal,1,1513
16831,Premium Economy,Oct,Vancouver,Montreal,1,1915